<div class="card m-2">
    <div class="card-header">
        <span class="h2 text-primary" jhiTranslate="settings.title" 
        translateValues="{username: '{{settingsAccount.firstName}} {{settingsAccount.lastName}}'}" *ngIf="settingsAccount">User settings for [<b>{{settingsAccount.firstName}} {{settingsAccount.lastName}}</b>]</span>
    </div>
    <div class="card-block row space">
        <div class="col-md-4 col-lg-3">
            <div class="m-2">
                <div class="div-sigla-table table-responsive col-sm-12">
                    <table class="sigla-table table table-bordered table-hover table-striped table-sm">
                        <thead class="table-primary">
                            <tr>
                                <th class="TableHeader align-middle" align="center" valign="center">
                                    <button class="btn btn-sm btn-link hand" (click)="selectAll()" placement="right" container="body"  ngbTooltip="Seleziona/Deseleziona tutti">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </button>
                                </th>
                                <th jhiTranslate="messaggi.table.oggetto">Oggetto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indirizzoMail of indirizziMail" (click)="setClickedRow(indirizzoMail)" class="hand"
                                [ngClass]="{'bg-primary text-white' : indirizzoMail.id.indirizzoMail == currentIndirizzoMail.id.indirizzoMail}">
                                <td><input type="checkbox" [(ngModel)]="indirizzoMail.checked"></td> 
                                <td>{{indirizzoMail.id.indirizzoMail}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="m-2">
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
                <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>
                    <div class="form-group">
                        <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                                [(ngModel)]="currentIndirizzoMail.id.indirizzoMail" minlength="5" maxlength="100" #emailInput="ngModel" email required>
                        <div *ngIf="emailInput.dirty && emailInput.invalid">
                            <small class="form-text text-danger"
                                *ngIf="emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                                Your email is required.
                            </small>
                            <small class="form-text text-danger"
                                *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                                Your email is invalid.
                            </small>
                            <small class="form-text text-danger"
                                *ngIf="emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                                Your email is required to be at least 5 characters.
                            </small>
                            <small class="form-text text-danger"
                                *ngIf="emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                                Your email cannot be longer than 100 characters.
                            </small>
                        </div>
                    </div>
                    <h5 class="text-primary mt-2">Variazioni</h5>
                    <div class="card p-2">
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="currentIndirizzoMail.erroreMancataApprovazioneVarBilancioRes" id="erroreMancataApprovazioneVarBilancioRes" name="erroreMancataApprovazioneVarBilancioRes">
                            <label class="form-check-label" for="erroreMancataApprovazioneVarBilancioRes">
                                Invia errore di mancata approvazione Variazioni al Bilancio dell'Ente
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="currentIndirizzoMail.approvazioneVarStanziamentoResiduo" id="approvazioneVarStanziamentoResiduo" name="approvazioneVarStanziamentoResiduo">
                            <label class="form-check-label" for="approvazioneVarStanziamentoResiduo">
                                Comunica avvenuta approvazione Variazioni allo Stanziamento Residuo
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="currentIndirizzoMail.erroreMancataApprovazioneVarBilancioComp" id="erroreMancataApprovazioneVarBilancioComp" name="erroreMancataApprovazioneVarBilancioComp">
                            <label class="form-check-label" for="erroreMancataApprovazioneVarBilancioComp">
                                    Invia errore di mancata approvazione Variazioni al Bilancio dell'Ente generate da Variazioni alla Competenza
                            </label>
                        </div>  
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="currentIndirizzoMail.approvazioneVarStanziamentoCompetenza" id="approvazioneVarStanziamentoCompetenza" name="approvazioneVarStanziamentoCompetenza">
                            <label class="form-check-label" for="approvazioneVarStanziamentoCompetenza">
                                Comunica avvenuta approvazione Variazioni alla Competenza
                            </label>
                        </div>
                    </div>
                    <h5 class="text-primary mt-2">Fatturazione Elettronica Attiva</h5>
                    <div class="card p-2">
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="currentIndirizzoMail.esitoPositivoFattElettronicaAttiva" id="esitoPositivoFattElettronicaAttiva" name="esitoPositivoFattElettronicaAttiva">
                            <label class="form-check-label" for="esitoPositivoFattElettronicaAttiva">
                                Comunicazione via Mail dell'esito positivo
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="currentIndirizzoMail.esitoNegativoFattElettronicaAttiva" id="esitoNegativoFattElettronicaAttiva" name="esitoNegativoFattElettronicaAttiva">
                            <label class="form-check-label" for="esitoNegativoFattElettronicaAttiva">
                                Comunicazione via Mail dell'esito negativo
                            </label>
                        </div> 
                    </div>
                    <h5 class="text-primary mt-2">Fatturazione Elettronica Passiva</h5>
                    <div class="card p-2">
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="currentIndirizzoMail.notificaRicezioneFatturaPassiva" id="notificaRicezioneFatturaPassiva" name="notificaRicezioneFatturaPassiva">
                            <label class="form-check-label" for="notificaRicezioneFatturaPassiva">
                                Comunicazione via Mail ricezione nuova Fattura elettronica
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>