<template #rt let-r="result" let-t="term">
    <div>
        <span>{{r.breadcrumbS}}</span>
    </div>
</template>
<div class="search-typehead">
    <div class="input-group">
        <input
            [ngbTypeahead]="searchtree"
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
            [resultFormatter]="formatter"
            (selectItem)="onSelectLeaf($event.item)"
            class="form-control"
            placeholder="Cerca nel menu......"
            id="search-tree"/>
        <span class="input-group-btn">
            <a class="btn btn-secondary"  
                (click)="tree.treeModel.collapseAll()" 
                placement="right" 
                ngbTooltip="Comprimi tutte le voci">
                <i class="fa fa-minus-square-o text-primary" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</div>
<i *ngIf="isRequesting" class="fa fa-spinner fa-spin text-muted"></i>
<tree-root [nodes]="nodes" class="tree-menu">
    <template #treeNodeFullTemplate
            let-node="node"
            let-index="index"
            let-templates="templates">
        <div
            class="tree-node tree-node-level-{{ node.level }}"
            [class]="node.getClass()"
            [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
            [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
            [class.tree-node-leaf]="node.isLeaf"
            [class.tree-node-active]="node.isActive"
            [class.tree-node-focused]="node.isFocused">

            <div class="node-wrapper node-item" [style.padding-left]="node.getNodePadding()" (click)="toggleTreeNode(node)">
                <div class="node-content-wrapper row">
                    <span class="d-inline-block text-truncate col" placement="top" ngbTooltip="{{node.data.name}}">{{node.data.name}}</span>
                    <span *ngIf="!node.isLeaf" class="chevron float-right col col-auto">
                        <i *ngIf="!node.isExpanded" class="fa fa-chevron-right" aria-hidden="true"></i>
                        <i *ngIf="node.isExpanded"  class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <tree-node-children [node]="node" [templates]="templates">
            </tree-node-children>
        </div>
    </template>
</tree-root>
