<ngb-accordion (panelChange)="beforeChange($event)">
    <div *ngFor="let child of getChildren(parent.id)">
        <ngb-panel [id]="child.id" *ngIf="hasChildren(child.id)">
            <template ngbPanelTitle>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>{{child.description}}</span>
            </template>
            <template ngbPanelContent>
                <jhi-tree-leaf [leafs]="leafs" [parent]="child"></jhi-tree-leaf>
            </template>
        </ngb-panel>
        <ngb-panel *ngIf="!hasChildren(child.id)">
            <template ngbPanelTitle>
                <span>{{child.description}}</span>
            </template>
        </ngb-panel>
    </div>
</ngb-accordion>