.tree-menu .chevron {
    float: right;
    margin-right: 10px
}

.tree-menu .node-item:hover {
    color: #0066CC;
    background-color: #F0F0F0
}

.tree-menu .node-item {
    color:#333;
    padding: 4px 0;
}
.tree-node-focused > div:first-child,
.tree-node-expanded > div:first-child{
    font-weight: bold;
    color: #0066CC!important;
}

div.tree-node-level-1 > div:first-child{
    text-transform: uppercase;
    font-weight: bold;
}
.tree-node-leaf {
    font-style: italic;    
}