<div class="row space">
    <div class="col-md-4 col-lg-3 pr-0" [hidden]="hidden">
        <div class="tree-shadow">
            <jhi-tree id="tree" (activateLeaf)='onNotify($event)'></jhi-tree>
        </div>
    </div>

    <div [ngClass]="{'col-md-8 col-lg-9': !hidden, 'col-md-12': hidden}" class="workspace">
        <jhi-alert-error></jhi-alert-error>
        <div [ngClass]="{'loading' : isRequesting}"></div>
        <div #htmlContainer class="e2e-trusted-html" [innerHTML]="desktop"></div>
        <div *ngIf="logoVisible">
            <h1 jhiTranslate="home.title" class="text-primary">Welcome, Java Hipster!</h1>
            <p class="lead text-primary" jhiTranslate="home.subtitle">This is your homepage</p>
            <span class="hipster img-fluid img-rounded"></span>
        </div>
        <div #scriptContainer></div>
    </div>
</div>
