<ng-template #rt let-r="result" let-t="term">
  <div class="w-100">
    <span>{{r.first}} - {{r.second}}</span>
  </div>
</ng-template>

<div class="card shadow" [ngClass]="{'my-3': !dashboard, 'my-4': dashboard && !codiceUo}">

  @if(!dashboard) {
    <div class="card-header bg-white d-flex flex-wrap align-items-center justify-content-between">
      <h1 class="h4 mb-0 mr-3 my-1 text-monospace text-primary-dark bg-white" translate>dashboard.acquisti-stato.title</h1>
      <form class="form-inline flex-wrap my-1" role="form" [formGroup]="filterForm">
        <label for="codice" class="text-muted mr-2 mb-0" translate>dashboard.indice-tempestivita.uo</label>
        <div class="input-group" style="min-width:320px">
          <input
            #codice
            formControlName="codice"
            [ngbTypeahead]="searchuo"
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
            [resultFormatter]="formatter"
            (selectItem)="onUoSelected($event)"
            [editable]="true"
            class="form-control"
            id="codice"
            type="search"
            placeholder="{{'global.form.filter.placeholder' | translate}}">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" aria-label="Mostra elenco" (click)="openTypeaheadUo()">
              <i class="fa fa-caret-down"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  }

  <!-- il titolo (con eventuale UO) è nel grafico (option.title) -->
  <div class="d-flex justify-content-center">
    <div class="w-100 font-weight-bold text-monospace text-center text-primary-dark"
         [style]="dashboard ? 'height:50vh !important' : 'height:75vh !important'">
      @if (loadingChart()) {
        <div class="h-100">
          <div class="d-flex justify-content-center">
            <div class="loading cursor-wait position-relative"></div>
          </div>
        </div>
      }
      <div [style.height]="dashboard ? '50vh' : '75vh'"
           [style.display]="loadingChart() ? 'none' : 'block'"
           style="width: 100%"
           echarts
           [options]="chartOptions">
      </div>
    </div>
  </div>
</div>