<template #rt let-r="result" let-t="term">
    <div>
        <span>{{r.first}} - {{r.second}}</span>
    </div>
</template>
<template #rtNavbar let-r="result" let-t="term">
    <div class="navbar-typeahead">
        <span>{{r.first}}</span><span class="text-truncate">{{r.second}}</span>
    </div>
</template>
<div *ngIf="!isNavbar">
    <form class="form" role="form" (ngSubmit)="saveContext()" #contextForm="ngForm">
        <div class="form-group row">
            <label for="esercizio" class="col-2 col-form-label">Esercizio</label>
            <div class="col-2">
                <select class="form-control" id="esercizio" name="esercizio" required (ngModelChange)="setEsercizio($event)" [(ngModel)]="principal.userIdentity.esercizio">
                    <option *ngFor="let esercizio of contextService.esercizi" [ngValue]="esercizio">{{esercizio}}</option>
                </select>            
            </div>
        </div>
        <div class="form-group row">
            <label for="cds" class="col-2 col-form-label">Centro di Spesa</label>
            <div class="col-8">
                <div class="input-group form-group">
                    <input 
                        [(ngModel)]="contextService.cdsModel" 
                        [ngbTypeahead]="searchcds" 
                        [resultTemplate]="rt" 
                        [inputFormatter]="formatter"
                        [resultFormatter]="formatter"
                        [editable]="false"
                        (selectItem)="onSelectCds($event.item)"
                        class="form-control" 
                        id="cds" 
                        name="cds" 
                        #cdsInput="ngModel"  
                        required 
                        type="text"> 
                    <a class="input-group-addon btn btn-danger" (click)="contextService.cdsModel = null; onSelectCds();"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                </div>
                <div *ngIf="cdsInput.dirty && cdsInput.invalid">
                    <small class="form-text text-danger"
                        *ngIf="cdsInput.errors.required" jhiTranslate="settings.messages.validate.cds.required">
                        CdS is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="uo" class="col-2 col-form-label">Unità Organizzativa</label>
            <div class="col-8">
                <div class="input-group form-group">
                    <input
                        [(ngModel)]="contextService.uoModel" 
                        [ngbTypeahead]="searchuo" 
                        [resultTemplate]="rt" 
                        [inputFormatter]="formatter"
                        [resultFormatter]="formatter"
                        [editable]="false"
                        (selectItem)="onSelectUo($event.item)"
                        class="form-control" 
                        id="uo" 
                        name="uo" 
                        #uoInput="ngModel"
                        required 
                        type="text">        
                    <a class="input-group-addon btn-danger" (click)="contextService.uoModel = null; onSelectUo();"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                </div>                
                <div *ngIf="uoInput.dirty && uoInput.invalid">
                    <small class="form-text text-danger"
                        *ngIf="uoInput.errors.required" jhiTranslate="settings.messages.validate.uo.required">
                        UO is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="cdr" class="col-2 col-form-label">Centro di Responsabilità</label>
            <div class="col-8">
                <div class="input-group form-group">                
                    <input class="form-control" id="cdr" name="cdr" [(ngModel)]="principal.userIdentity.cdr" #cdrInput="ngModel" required type="text">        
                    <a class="input-group-addon btn-danger"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                </div>
                <div *ngIf="cdrInput.dirty && cdrInput.invalid">
                    <small class="form-text text-danger"
                        *ngIf="cdrInput.errors.required" jhiTranslate="settings.messages.validate.cdr.required">
                        UO is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="text-right col-10">
            <button type="submit" [disabled]="contextForm.form.invalid" class="btn btn-primary col-md-5">Conferma</button>
        </div>
    </form>        
</div>
<div *ngIf="isNavbar" class="form-inline">
        <div ngbDropdown class="nav-item dropdown pointer">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="esercizio-menu">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <span>Esercizio: {{principal.userIdentity.esercizio}}</span>
                    <b class="caret"></b>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>        
                <li *ngFor="let esercizio of contextService.esercizi">
                    <a class="dropdown-item"  (click)="setEsercizio(esercizio)">
                        <span>{{esercizio}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <span class="navbar-text navbar-label">CdS:</span>
        <input
            [(ngModel)]="contextService.cdsModel" 
            [ngbTypeahead]="searchcds" 
            [resultTemplate]="rtNavbar"
            [inputFormatter]="formatterFirst"
            [resultFormatter]="formatter"
            [editable]="false"
            (selectItem)="onSelectCds($event.item)"    
            class="form-control" />
        <label class="navbar-text navbar-label">UO:</label>
        <input 
            [(ngModel)]="contextService.uoModel" 
            [ngbTypeahead]="searchuo"
            [resultTemplate]="rtNavbar"
            [inputFormatter]="formatterFirst"
            [resultFormatter]="formatter"
            [editable]="false"
            (selectItem)="onSelectUo($event.item)"    
            class="form-control" />
</div>