<div *ngIf="!isNavbar">
    <form class="form" role="form" (ngSubmit)="saveContext()" #contextForm="ngForm">
        <div class="form-group row">
            <label for="esercizio" class="col-2 col-form-label">Esercizio</label>
            <div class="col-2">
                <select class="form-control" id="esercizio" name="esercizio" required (ngModelChange)="setEsercizio($event)" [(ngModel)]="principal.userIdentity.esercizio">
                    <option *ngFor="let esercizio of esercizi" [ngValue]="esercizio">{{esercizio}}</option>
                </select>            
            </div>
        </div>
        <div class="form-group row">
            <label for="cds" class="col-2 col-form-label">Centro di Spesa</label>
            <div class="col-8">
                <div class="input-group form-group">
                    <input class="form-control" id="cds" name="cds" [(ngModel)]="principal.userIdentity.cds" #cdsInput="ngModel"  required type="text"> 
                    <span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
                </div>
                <div *ngIf="cdsInput.dirty && cdsInput.invalid">
                    <small class="form-text text-danger"
                        *ngIf="cdsInput.errors.required" jhiTranslate="settings.messages.validate.cds.required">
                        CdS is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="uo" class="col-2 col-form-label">Unità Organizzativa</label>
            <div class="col-8">
                <div class="input-group form-group">
                    <input 
                        class="form-control" 
                        id="uo" 
                        name="uo" 
                        [(ngModel)]="principal.userIdentity.uo" 
                        #uoInput="ngModel" 
                        required 
                        type="text">        
                    <span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
                </div>                
                <div *ngIf="uoInput.dirty && uoInput.invalid">
                    <small class="form-text text-danger"
                        *ngIf="uoInput.errors.required" jhiTranslate="settings.messages.validate.uo.required">
                        UO is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="cdr" class="col-2 col-form-label">Centro di Responsabilità</label>
            <div class="col-8">
                <div class="input-group form-group">                
                    <input class="form-control" id="cdr" name="cdr" [(ngModel)]="principal.userIdentity.cdr" #cdrInput="ngModel" required type="text">        
                    <span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
                </div>
                <div *ngIf="cdrInput.dirty && cdrInput.invalid">
                    <small class="form-text text-danger"
                        *ngIf="cdrInput.errors.required" jhiTranslate="settings.messages.validate.cdr.required">
                        UO is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="text-right col-10">
            <button type="submit" [disabled]="contextForm.form.invalid" class="btn btn-primary col-md-5">Conferma</button>
        </div>        
    </form>        
</div>
<li *ngIf="isNavbar" ngbDropdown class="nav-item dropdown pointer">
    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="esercizio-menu">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        <span>Esercizio: {{principal.userIdentity.esercizio}}</span>
            <b class="caret"></b>
        </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>        
        <li *ngFor="let esercizio of esercizi">
            <a class="dropdown-item"  (click)="setEsercizio(esercizio)">
                <span>{{esercizio}}</span>
            </a>
        </li>
    </ul>
</li>
<span *ngIf="isNavbar" class="navbar-input-inline navbar-text">
    <i class="fa fa-toggle-on" aria-hidden="true"> UO: </i>
    <input class="navbar-input-inline form-control-sm navbar-text col-sm-5" value="{{principal.userIdentity.uo}}"/>
</span>