<ng-template #rt let-r="result" let-t="term">
    <div class="w-100">
        <span>{{r.first}} - {{r.second}}</span>
    </div>
</ng-template>
<ng-template #rtNavbar let-r="result" let-t="term">
    <div class="navbar-typeahead w-100">
        <span>{{r.first}}</span>&nbsp;<span class="text-truncate">{{r.second}}</span>
    </div>
</ng-template>
<div *ngIf="!isNavbar">
    <form class="form" role="form" (ngSubmit)="saveContext(false)" #contextForm="ngForm">
        <div class="form-group row">
            <label for="esercizio" class="col-sm-2 col-form-label">Esercizio</label>
            <div class="col-sm-2">
                <select class="form-control" id="esercizio" name="esercizio" required (ngModelChange)="setEsercizio($event)" [(ngModel)]="principal.userIdentity.esercizio">
                    <option *ngFor="let esercizio of contextService.esercizi" [ngValue]="esercizio">{{esercizio}}</option>
                </select>            
            </div>
        </div>
        <ng-container *jhiNotHaveAuthority="['ROLE_SUPERUSER', 'ROLE_ADMIN']">
            <div class="form-group row">
                <label for="cds" class="col-sm-2 col-form-label">Centro di Spesa</label>
                <div class="col-sm-8">
                    <div class="input-group input-group-context">
                        <input 
                            [(ngModel)]="cdsModel" 
                            [ngbTypeahead]="searchcds" 
                            [resultTemplate]="rt" 
                            [inputFormatter]="formatter"
                            [resultFormatter]="formatter"
                            [editable]="false"
                            (selectItem)="onSelectCds($event.item)"
                            class="form-control" 
                            id="cds" 
                            name="cds" 
                            #cdsInput="ngModel"
                            #cds
                            required 
                            type="text">
                        <a class="input-group-addon btn text-primary" (click)="openTypeaheadCds()">
                            <i class="fa fa-caret-down" ></i>
                        </a>    
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="uo" class="col-sm-2 col-form-label">Unità Organizzativa</label>
                <div class="col-sm-8">
                    <div class="input-group input-group-context">
                        <input
                            [(ngModel)]="uoModel" 
                            [ngbTypeahead]="searchuo" 
                            [resultTemplate]="rt" 
                            [inputFormatter]="formatter"
                            [resultFormatter]="formatter"
                            [editable]="false"
                            (selectItem)="onSelectUo($event.item)"
                            class="form-control" 
                            id="uo" 
                            name="uo" 
                            #uoInput="ngModel"
                            #uo
                            required 
                            type="text">
                        <a class="input-group-addon btn text-primary" (click)="openTypeaheadUo()">
                            <i class="fa fa-caret-down" ></i>
                        </a>    
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="cdr" class="col-sm-2 col-form-label">Centro di Responsabilità</label>
                <div class="col-sm-8">
                    <div class="input-group input-group-context">
                        <input
                            [(ngModel)]="cdrModel" 
                            [ngbTypeahead]="searchcdr" 
                            [resultTemplate]="rt" 
                            [inputFormatter]="formatter"
                            [resultFormatter]="formatter"
                            [editable]="false"
                            class="form-control" 
                            id="cdr" 
                            name="cdr" 
                            #cdrInput="ngModel"
                            #cdr
                            required 
                            type="text">
                        <a class="input-group-addon btn text-primary" (click)="openTypeaheadCdr()">
                            <i class="fa fa-caret-down" ></i>
                        </a>    
                    </div>
                </div>
            </div>
        </ng-container>    
        <div class="text-right col-sm-10">
            <button type="submit" [disabled]="contextForm.form.invalid" class="btn btn-primary col-md-5"><i class="fa fa-floppy-o" aria-hidden="true"></i> Conferma</button>
        </div>
    </form>        
</div>
<ng-container *jhiNotHaveAuthority="['ROLE_SUPERUSER', 'ROLE_ADMIN']">
    <li *ngIf="isNavbar"  #contextDrop="ngbDropdown" ngbDropdown [autoClose]="false" class="nav-item dropdown pointer" id="context-menu" (click)="$event.stopPropagation()">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i> CdS: {{getCodiceCdS()}} UO: {{getCodiceUo()}}</a>
        <ul class="dropdown-menu dropdown-menu-right navbar-form" role="menu" ngbDropdownMenu>
            <form class="form" role="form" (ngSubmit)="saveContext(true)" #contextForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="navbar-cds">Centro di Spesa</label>
                    <div class="input-group">
                        <input
                            [(ngModel)]="cdsModel" 
                            [ngbTypeahead]="searchcds" 
                            [resultTemplate]="rtNavbar"
                            [inputFormatter]="formatterFirst"
                            [resultFormatter]="formatter"
                            [editable]="false"
                            [container]="typeaheadContainer"
                            (selectItem)="onSelectCds($event.item)"
                            required
                            name="cds" 
                            #cds
                            class="form-control"                
                            id="navbar-cds"/>
                        <a class="input-group-addon btn text-primary" (click)="openTypeaheadCds()">
                            <i class="fa fa-caret-down" ></i>
                        </a>
                    </div>   
                </div>     
                <div class="form-group">
                    <label class="form-control-label" for="navbar-uo">Unita Organizzativa</label>
                    <div class="input-group">
                        <input 
                            [(ngModel)]="uoModel" 
                            [ngbTypeahead]="searchuo"
                            [resultTemplate]="rtNavbar"
                            [inputFormatter]="formatterFirst"
                            [resultFormatter]="formatter"
                            [editable]="false"
                            [container]="typeaheadContainer"
                            (selectItem)="onSelectUo($event.item)"
                            required
                            name="uo"
                            #uo
                            class="form-control"
                            id="navbar-uo"/>
                        <a class="input-group-addon btn text-primary" (click)="openTypeaheadUo()">
                            <i class="fa fa-caret-down" ></i>
                        </a>    
                    </div>
                </div>
                <button type="submit" [disabled]="contextForm.form.invalid" (click)="contextDrop.close();" class="btn btn-block btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Conferma</button>
            </form>
        </ul>
    </li>
    <li *ngIf="isNavbar"  ngbDropdown class="nav-item dropdown pointer">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="esercizio-menu">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <span>Esercizio: {{principal.userIdentity.esercizio}}</span>
                <b class="caret"></b>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>        
            <li *ngFor="let esercizio of contextService.esercizi">
                <a class="dropdown-item"  (click)="setEsercizio(esercizio)">
                    <span>{{esercizio}}</span>
                </a>
            </li>
        </ul>
    </li>
    <ng-container *ngIf="isNavbar && router.url === '/workspace'">
        <li *ngIf="isPreferitiPresent()" ngbDropdown class="nav-item dropdown pointer">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-preferiti">
                <span>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    <span class="text-warning">Preferiti</span>
                    <b class="caret"></b>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-left-auto dropdown-menu-right" ngbDropdownMenu>
                <li *ngFor="let prefer of contextService.preferiti">
                    <a class="dropdown-item" (click)="openPreferiti(prefer.cdNodo)">
                        <span>{{prefer.descrizione}}</span>
                    </a>
                </li>
            </ul>
        </li>    
    </ng-container>
    <li *ngIf="isNavbar && isMessaggiPresent()" class="nav-item">
        <a class="nav-link message-count" href="javascript:void(0);" (click)="openMessaggi()"><i class="fa fa-envelope-o"></i><sup class="badge badge-pill badge-danger navbar-badge-messages">{{getNumberOfMessagi()}}</sup></a>
    </li>
</ng-container>