/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #0066CC;
    padding: .2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    background-color: #0066CC;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}



@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.logo-img {
    height: 100%;
    background: url("../../../content/images/logo-cnr.png") no-repeat center center;
    background-size: contain;
    width: 100%;
}
.nav-link, .navbar-text {
    color: #FFF !important
}
.navbar-typeahead span {
    vertical-align:top; display: inline-block;
}
.navbar-typeahead .text-truncate {
    padding: 0 5px; 
    max-width: 220px
}
.navbar-form {
    padding: 17px
}
.navbar .pull-right > li > .dropdown-menu:after,
.navbar .navbar-nav > li > .dropdown-menu.pull-right:after,
.navbar .navbar-nav > div > li > ul.dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}
.navbar .navbar-nav > li > .dropdown-menu:before,
.navbar .navbar-nav > div > li > ul.dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar .navbar-nav > li > .dropdown-menu:after,
.navbar .navbar-nav > div > li > ul.dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
#context-menu { 
    text-align: right;
    min-width: 280px; 
}