<!-- Modale per visualizzare il dettaglio stato acquisti -->
<ng-template #modalStato let-modal>
    <div class="modal-body p-1">
        <acquisti-stato [dashboard]="true" [codiceUo]="selectedCodiceUo"></acquisti-stato>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close()">
            <span class="h3" translate>global.form.close</span>
            <i class="fa fa-2x fa-fw fa-close" aria-hidden="true"></i>
        </button>
    </div>
</ng-template>

<div class="card shadow mt-3" [ngClass]="dashboard ? 'mb-3' : 'mb-5'">

    @if(!dashboard) {
        <div class="card-header bg-white d-flex flex-wrap align-items-center justify-content-between">
            <div class="mr-3 my-1">
                <h1 class="h4 mb-0 text-monospace text-primary-dark bg-transparent" translate>dashboard.acquisti-struttura.title</h1>
                <p class="small text-monospace font-italic text-muted mb-0 mt-1" translate>dashboard.acquisti-struttura.descrizione</p>
            </div>
            @if(esercizi) {
                <form class="form-inline flex-wrap my-1" role="form" [formGroup]="filterForm">
                    <label for="esercizio" class="text-muted mr-2 mb-0" translate>dashboard.acquisti-struttura.esercizio</label>
                    <select id="esercizio" class="form-control" style="width:auto" formControlName="esercizio">
                        @for (esercizio of esercizi; track esercizio) {
                            <option [ngValue]="esercizio">{{esercizio}}</option>
                        }
                    </select>
                </form>
            }
        </div>
    }

    <div class="d-flex justify-content-center">
        <div #chartdiv class="w-100 font-weight-bold text-monospace text-center text-primary-dark mb-2" [style]="chartDivStyle">
            @if (loadingChart()) {
                <div class="h-100">
                    <div class="d-flex justify-content-center">
                        <div class="loading cursor-wait position-relative"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>