<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 jhiTranslate="home.title" class="text-primary">Welcome, Java Hipster!</h1>
        <p class="lead text-primary" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <jhi-context [isNavbar]="false">Loading context.....</jhi-context>
            </div>
            <div *ngSwitchCase="false">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 jhiTranslate="login.title">Sign in</h3>
                        </div>    
                        <div class="card-block">
                            <div>
                                <div class="alert alert-danger" *ngIf="authenticationError">
                                    <div jhiTranslate="login.messages.error.authentication">
                                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                                    </div>
                                </div>
                            </div>
                            <form class="form" role="form" (ngSubmit)="login()" #loginForm="ngForm">
                                <div class="form-group input-group input-group-lg">
                                    <input type="text" class="form-control" name="username" id="username"  placeholder="{{'global.form.username.placeholder' | translate}}"
                                    [(ngModel)]="username">
                                </div>
                                <div class="form-group input-group input-group-lg">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                           [(ngModel)]="password">
                                </div>
                                    <button type="submit" [disabled]="loginForm.form.invalid" class="btn btn-lg btn-primary btn-block" jhiTranslate="login.form.button">Sign in</button>
                                    <button type="button" [disabled]="loginForm.form.invalid" class="btn btn-lg btn-default btn-block" jhiTranslate="login.form.change-password">Cambia Password</button>
                            </form>
                              
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
